/* 좁은 배너 화면 크게 */
.banner {
  /* 이미지 크기 */
  height: 56vh;
  /* 이미지 좌측부터 시작 */
  background-position: left;
  /* 이미지 중복방지 */
  background-repeat: no-repeat;
  background-size: cover;
}
/* 배너에 그라데이션 주기 */
.banner:before {
  content: '';
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 56vh;
  width: 100%;
}
/* 글씨 상자 크기 조절 */
.banner-text-area {
  width: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 2rem;
}
/* banner-text-area의 모든아이템들 겉으로 꺼내기*/
.banner-text-area > * {
    z-index: 2;
}
